@charset "utf-8";

$color-accent: #ED145B;
$color-btn: #EDAA14;
$color-title: #2B2B2B;

$breakpoints: (
    "desktop": "screen and (min-width:560px)"
    ) !default;

@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


@mixin m-inner ($w: 85%, $mw: 1300px) {
    max-width: $mw;
    width: $w;
    margin-right: auto;
    margin-left: auto;
}


@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin title {
    font-size: 38px;
    font-weight: bold;
    line-height: (46/38
    );
text-align: center;
margin-bottom: 50px;
}

body {
    font-family: Verdana;
    font-size: 14px;
    letter-spacing: (25em/1000);
    line-height: (24/14);
    color: #5A5A5A;
}

img {
    vertical-align: bottom;
    height: auto;
    max-width: 100%;
}




/*header*/
.header {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 40px 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    &__inner {
        @include m-inner();
        @include flex();
    }
}

.nav {
    &__list {
        @include flex();
    }

    &__item {
        margin-left: 30px
    }

    &__active {
        color: $color-accent;
    }
}


/*footer*/
.footer {
    background-color: #000;
    padding: 60px 0 160px;
    margin-top: 80px;
    color: #fff;

    &__inner {
        @include m-inner();
    }
}


/*共通部分*/
.btn {
    display: block;
    background-color: #000;
    color: #fff;
    width: fit-content;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 25px 0 20px;
}

/*index.html--------------------------------------*/
/*main*/
.main {
    background: url(../images/bg_mainvisual.png) no-repeat center center;
    color: #fff;
    padding: 250px 0 150px;
    margin-bottom: 80px;

    &__inner {
        @include m-inner();
    }

    &__title {
        font-size: 38px;
        font-weight: bold;
        line-height: (55/38);
        margin-bottom: 40px;
        color: $color-title;
    }

    &__text {
        margin-bottom: 80px;
    }

    &__accent {
        color: $color-accent;
    }

    @include m-query(desktop) {
        text-align: center;

        .btn {
            margin-right: auto;
            margin-left: auto;
        }
    }

    .btn {
        background-color: $color-accent;
        width: 200px;
        text-align: center;
        padding: 16px 0;
    }
}

.post {
    margin-bottom: 60px;
}

.updates {
    &__inner {
        @include m-inner();
    }

    &__title {
        @include title();
    }


    img {
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    @include m-query(desktop) {
        .updates {

            &__flex {
                @include flex();
            }

            &__list {
                width: 260px;
            }

            &__inner {
                @include m-inner(69%, 900);
            }
        }
    }
}

/*about.html--------------------------------------*/
/*services*/
.services {
    &__inner {
        margin-top: 180px;

        @include m-inner();
    }

    &__title {
        font-size: 38px;
        font-weight: bold;
        line-height: (55/38);
        margin-bottom: 50px;
        text-align: center;
        color: $color-title;
    }

    &__flex {
        @include flex();
    }
}



.test {

    margin-top: 80px;
    text-align: center;
    // padding: 50px 0;
    background: url(../images/bg_testimonials.png) no-repeat center center/cover;


    &__inner {
        @include m-inner();
        background-color: #FFFFFF;
    }

    &__title {
        font-size: 38px;
        font-weight: bold;
        line-height: (55/38);
        margin-bottom: 50px;
        text-align: center;
        color: $color-title;
    }

    img {
        margin-bottom: 37px;
    }

    &__text {
        margin-bottom: 25px;
        font-style: italic;
        font-size: 16px;
    }


    .btn {
        background-color: $color-btn;
        padding: 16px 0;
        width: 200px;
        margin-right: auto;
        margin-left: auto;
    }
}