@charset "UTF-8";
body {
  font-family: Verdana;
  font-size: 14px;
  letter-spacing: 0.025em;
  line-height: 1.7142857143;
  color: #5A5A5A;
}

img {
  vertical-align: bottom;
  height: auto;
  max-width: 100%;
}

/*header*/
.header {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 40px 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}
.header__inner {
  max-width: 1300px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 30px;
}
.nav__active {
  color: #ED145B;
}

/*footer*/
.footer {
  background-color: #000;
  padding: 60px 0 160px;
  margin-top: 80px;
  color: #fff;
}
.footer__inner {
  max-width: 1300px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

/*共通部分*/
.btn {
  display: block;
  background-color: #000;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 16px;
  margin: 25px 0 20px;
}

/*index.html--------------------------------------*/
/*main*/
.main {
  background: url(../images/bg_mainvisual.png) no-repeat center center;
  color: #fff;
  padding: 250px 0 150px;
  margin-bottom: 80px;
}
.main__inner {
  max-width: 1300px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
.main__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.4473684211;
  margin-bottom: 40px;
  color: #2B2B2B;
}
.main__text {
  margin-bottom: 80px;
}
.main__accent {
  color: #ED145B;
}
@media screen and (min-width:560px) {
  .main {
    text-align: center;
  }
  .main .btn {
    margin-right: auto;
    margin-left: auto;
  }
}
.main .btn {
  background-color: #ED145B;
  width: 200px;
  text-align: center;
  padding: 16px 0;
}

.post {
  margin-bottom: 60px;
}

.updates__inner {
  max-width: 1300px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
.updates__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2105263158;
  text-align: center;
  margin-bottom: 50px;
}
.updates img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width:560px) {
  .updates .updates__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .updates .updates__list {
    width: 260px;
  }
  .updates .updates__inner {
    max-width: 900;
    width: 69%;
    margin-right: auto;
    margin-left: auto;
  }
}

/*about.html--------------------------------------*/
/*services*/
.services__inner {
  margin-top: 180px;
  max-width: 1300px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
.services__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.4473684211;
  margin-bottom: 50px;
  text-align: center;
  color: #2B2B2B;
}
.services__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.test {
  margin-top: 80px;
  text-align: center;
  background: url(../images/bg_testimonials.png) no-repeat center center/cover;
}
.test__inner {
  max-width: 1300px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
}
.test__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.4473684211;
  margin-bottom: 50px;
  text-align: center;
  color: #2B2B2B;
}
.test img {
  margin-bottom: 37px;
}
.test__text {
  margin-bottom: 25px;
  font-style: italic;
  font-size: 16px;
}
.test .btn {
  background-color: #EDAA14;
  padding: 16px 0;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */