@charset "utf-8";

body {
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.71;
    font-family: '游明朝体';
}

img {
    width: 100%;
    vertical-align: bottom;
    height: auto;
}

.inner {
    max-width: 960px;
    width: 86.49%;
    margin-right: auto;
    margin-left: auto;
}

/*header*/
header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 40px 0;
}

/*main*/

/*top*/
.top {
    height: 586px;
    background: url(images/bg_main.png) no-repeat center /cover;
    margin-bottom: 100px;
}

.title {
    position: relative;
    top: 240px;
    background: #FFFFFF;
    width: 343px;
    padding: 40px;
}

.title p {
    font-size: 18px;
    line-height: 1.6;
}

.title h2 {
    font-size: 36px;
    font-weight: Demibold;
    line-height: 1.5;
}

/*about*/
.about p {
    width: 194px;
    background: #72C9F3;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.about h3 {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

}

.about h3::after {
    display: block;
    width: 80px;
    content: "";
    border-bottom: 1px solid #1E1E1E;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.about {
    margin-bottom: 50px;
}

/*article*/
article img {
    position: relative;
}

article p {
    position: absolute;
    width: 600px;
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 20px;
}

article ul {
    display: flex;
}

article li {
    background: #F5F5F5;
    margin-left: 10px;
}

/*footer*/
footer {
    background: #1E1E1E;
    color: #FFFFFF;
    padding: 100px 0;
    text-align: center;
}

small {
    font-size: 12px;
    line-height: 2;
}